<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
{{ $cssMain := resources.Get "css/main.css" }}
<link rel="stylesheet" type="text/css" href="{{ $cssMain.RelPermalink }}">
<script src="{{ "js/helper.js" | urlize | relURL }}" defer></script>
<script src="{{ "js/phonetic.js" | urlize | relURL }}" defer></script>
<script src="{{ "js/metrics.js" | urlize | relURL }}" defer></script>
<script src="{{ "js/main.js" | urlize | relURL }}" defer></script>