{{ define "main" }}
<section>
    <fieldset style="width: 100%;">
        <input id="callsign-input" type="text" placeholder="e.g. K1ABC" aria-label="Callsign input"
            style="text-align: center;" />
        <button id="analyze-btn">Analyze</button>
    </fieldset>
</section>

<section id="results" aria-live="polite">
</section>

<section>
    <h2>What is a callsign?</h2>
    <p>
        Here, <em>callsign</em> refers to an amateur radio callsigns.
        This tool is designed for ham radio operators.
        Callsigns are (to large extent) formed according to the following structure:
        <table style="text-align: left;">
            <tr><th>Example 1</th><td colspan="2">PY</td><td>1</td><td>V</td></tr>
            <tr><th>Example 2</th><td colspan="2">2A</td><td>7</td><td>EG</td></tr>
            <tr><th>Part</th><td colspan="2">country prefix</td><td>number  </td><td>suffix</td></tr>
            <tr><th>Format</th><td>Arabic number</td><td>Latin letter(s)</td><td>Arabic number</td><td>Latin letter(s)</td></tr>
            <tr><th>Quantity</th><td>at the beginning or not at all</td><td>at least one</td><td>one except for special callsigns</td><td>mostly two or three letters</td></tr>
        </table>
    The meaning of each part differs across countries and is irrelevant here.
    </p>
    <h2>What is being analyzed?</h2>
    <p>
        The callsign is measured and classified using various metrics.
        These metrics are indicators that can hint at practical aspects, such as ease of spelling and ease of
        remembering.
    </p>
    <h2>How is it done?</h2>
    <p>
        We apply techniques from the field of Linguistics.
        The callsign is not analyzed based on syntax alone.
        Rather, it is translated into a phonetic transcription.
        This allows us to provide pronunciation-related information as well.
    </p>
    <h2>Why was is done?</h2>
    <p>
        Callsigns can be a means of self-expression or of delivering a message, but they can also have negative side
        effects, both practically and socially.
    </p>
    <h3>Examples</h3>
    <table>
        <tr>
            <th>Okay</th>
            <th>Suboptimal</th>
        </tr>
        <tr>
            <td>DO<span class="good">8BIT</span><br />(reference to 8-bit computing)</td>
            <td>K1<span class="bad">QRP</span><br />(contains operating signal)</td>
        </tr>
    </table>
    <p>
        <i>*Disclaimer: I did not intend to address any specific individuals in the displayed example call signs, which
            may be issued.
            The metrics used here are highly subjective, though the calculations are objective.
        </i>
    </p>
    <p>
        <i>
            This tool is designed to help you choose a callsign wisely.
            For those interested, it provides a quick report that makes iterating ideas much easier and more systematic.
        </i>
    </p>
</section>
{{ end }}